<div class="container-xl mt-5">

  <h2>Plasează comanda</h2>

  <section class="main d-flex gap-2">

    <div class="d-flex flex-column gap-2" style="width: 100%">

      <p-card [style]="{'width': '100%', 'margin-bottom': '2em', 'padding': '0px'}">
        <section class="d-flex flex-row gap-3" style="">
          <i class="pi pi-map-marker" style="font-size: 2em;"></i>
          <h4 style="margin: 0px; margin-right: auto">Livrare la adresa: </h4>
          <button pButton pRipple type="button"
                  icon="pi pi-replay"
                  class="p-button-rounded p-button-warning"
                  tooltipPosition="top" pTooltip="Alege altă adresă"
                  (click)="selectAddress()"
          ></button>
        </section>
        <p *ngIf="hasSelectedAddress" style="margin: 0px;">{{toStringAddress}}</p>
        <p *ngIf="!hasSelectedAddress" style="margin: 0px; color: red">{{noAddressMessage}}</p>
      </p-card>

      <p-card [style]="{'width': '100%', 'margin-bottom': '2em', 'padding': '0px'}">
        <section class="d-flex flex-row gap-3" style="">
          <i class="pi pi-credit-card" style="font-size: 2em;"></i>
          <h4 style="margin: 0px; margin-right: auto">Plată: </h4>
          <button pButton pRipple type="button"
                  icon="pi pi-replay"
                  class="p-button-rounded p-button-warning"
                  tooltipPosition="top" pTooltip="Alege alt card"
                  (click)="selectCard()"
          ></button>
        </section>

        <p *ngIf="hasSelectedCard" style="margin: 0px;">{{toStringCard}}</p>
        <p *ngIf="!hasSelectedCard" style="margin: 0px; color: red">{{noCardMessage}}</p>
      </p-card>


      <span class="p-float-label">
        <textarea [(ngModel)]="commentText" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input" style="font-size: 15px;">Comentarii</label>
      </span>

      <p-card [style]="{'width': '100%', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
          <div class="d-flex align-items-center gap-3">
            <img style="width: 50px; height: 50px;" src="./assets/delivery_guy.png">
            <h5 style="margin: 0;">Tips pe bon? Alege o variantă:</h5>
          </div>

        </ng-template>
        <div class="d-flex justify-content-around">
          <button pButton pRipple type="button" label="2 LEI" class="p-button-secondary"
                  [ngClass]="tip2" (click)="clickTipsButton2Lei()"></button>

          <button pButton pRipple type="button" label="4 LEI" class="p-button-secondary"
                  [ngClass]="tip4" (click)="clickTipsButton4Lei()"></button>

          <button pButton pRipple type="button" label="5 LEI" class="p-button-secondary"
                  [ngClass]="tip5" (click)="clickTipsButton5Lei()"></button>

          <button pButton pRipple type="button" label="Altă sumă" class="p-button-secondary"
                  [ngClass]="tipCustom" (click)="clickTipsButtonCustomeTip()"></button>
        </div>

      </p-card>


    </div>

    <div class="d-flex flex-column gap-2" style="width: 100%">

      <p-accordion>
        <p-accordionTab header="Sumar ({{items.length}} produse)" [selected]="true">

          <app-cart-item *ngFor="let item of items"
                         [item] = "item"
                         (productEvent)="modifyCart($event)"
                         class="d-flex justify-content-center mb-3">
          </app-cart-item>

        </p-accordionTab>
      </p-accordion>

      <p-card [style]="{'width': '100%', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
          <div class="d-flex justify-content-between gap-3">
            <h5 style="margin: 0; margin-left: 10px;">Total produse</h5>
            <h5 style="margin: 0; margin-right: 10px;">{{totalAmountProducts()}} lei</h5>
          </div>
        </ng-template>

        <div *ngIf="totalAmountProducts() < 100" class="d-flex flex-column">
          <div class="d-flex justify-content-between gap-3">
            <p style="margin: 0; ">Taxă transport</p>
            <p style="margin: 0;">{{transportPrice}} lei</p>
          </div>
          <p>Fără taxă transport pentru comenzi peste 100 lei</p>
        </div>

          <div *ngIf="tipPrice > 0" class="d-flex justify-content-between gap-3">
            <p style="margin: 0; ">Tips</p>
            <p style="margin: 0;">{{tipPrice}} lei</p>
          </div>

        <p-divider></p-divider>

        <div class="d-flex justify-content-between gap-3">
          <h3 style="margin: 0; ">TOTAL</h3>
          <h3 style="margin: 0;">{{totalPrice}} lei</h3>
        </div>

      </p-card>

    </div>

  </section>

  <button pButton pRipple type="button" label="Trimite comanda"
          iconPos="right" icon="pi pi-arrow-right"
          [loading]="loading" (click)="load()"
          style="float: right"
          class="p-button-rounded p-button-danger"></button>


</div>

<p-toast key="notSelected" position="top-center"></p-toast>
